<div id="main-wrapper">
    <app-header></app-header>
    <app-sidebar></app-sidebar>
    <div class="page-wrapper">
      <div class="container-fluid">
        <!-- <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Cargando ... </p></ngx-spinner> -->
        <!-- breadcrumbs -->
        <app-breadcrumbs></app-breadcrumbs>
        <!-- sistema de rutas -->
  
        <router-outlet></router-outlet>
  
      </div>
  
      <!-- ============================================================== -->
      <!-- footer -->
      <!-- ============================================================== -->
      <footer class="footer">© {{date}}</footer>
      <!-- ============================================================== -->
      <!-- End footer -->
      <!-- ============================================================== -->
    </div>
  </div>
  